.card-shadow {
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.1);
}
  .remodal-bg.remodal-is-closed {
    display: none;
}
@media screen and (max-width: 1000px) {
  .leftbar-view .main-container {
    margin-left: 0px;
  }
  .leftbar-view .leftbar {
    -webkit-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
  }
  .leftbar-view.left-aside-toggle .leftbar {
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
  .leftbar-view.left-aside-toggle .main-container {
    margin-left: 0px !important;
  }
  .overlay-leftbar .main-container {
    margin-left: 0px;
  }
  .overlay-leftbar .leftbar {
    -webkit-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
  }
  .overlay-leftbar.left-aside-toggle .leftbar {
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
  .app-name {
    float: left;
    width: 51%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1%;
}

}
@media screen and (max-width: 767px) {
.app-name {
    float: right;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0;
    margin-top: -43px;
    font-size: 18px;
    padding-left: 20px;
    font-weight: 600;
    color: #009eda;
}
/*.app-name {
    float: right;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0;
    margin-top: -43px;
    font-size: 18px;
    padding-left: 20px;
    font-weight: 600;
    color: #009eda;
}*/
  .j-forms .wizard-breadcrumb.number-style .step .steps:after {
    display: none !important;
  }
  .j-forms .wizard-breadcrumb.number-style .step .steps:before {
    display: none !important;
  }
  .j-forms .wizard-breadcrumb.number-style .step:first-child .steps:after {
    display: none !important;
  }
  .j-forms .wizard-breadcrumb.number-style .step:first-child .steps:before {
    display: none !important;
  }
  .j-forms .wizard-breadcrumb.number-style .step:last-child .steps:after {
    display: none !important;
  }
  .page-header .list-page-breadcrumb {
    text-align: left;
  }
  .page-header .list-page-breadcrumb > li:first-child {
    padding-left: 0px;
  }
  .footer-container .footer-right {
    text-align: left;
  }
}
@media screen (max-width:640) and (min-width:360){
    .widget-wrap .widget-container {
    margin-top: 0;
    padding: 0 18px;
}

    .topbar-right.pull-right {
    margin-top: -69px;
}
}
@media screen and (max-width: 590px) {
    .widget-wrap .widget-container {
    margin-top: 0;
    padding: 0 18px;
}
    .form-control {
        display: block;
        width: 100%;
        height: 39px;
        padding: 0;
        font-size: 14px;
        line-height: 1.846;
    }
    input#txtdtp {
    margin-bottom: 5px;
}
    .tab-content li {
    font-size: 14px;
}
    .col-md-12 {
    padding: 0 3px;
}
    ul {
    margin: 0;
    padding: 0;
}
    .tab-content  h3 {
    font-size: 18px;
    color: #009eda;
}
 .topbar .topbar-right .top-right-icons {
    margin-top: -66px;
    padding: 0px;
    text-align: right;
    float: right;
}
 .table-responsive {
    width: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
 .table-responsive {
    display: block;
    width: 100%;
    overflow-x: unset;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
 body {
    position: relative;
    background-color: #ffffff;
    color: #444444;
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 6px;
    line-height: 1.846;
    vertical-align: top;
    border-top: 1px solid #eeeeee;
}
    .widget-wrap {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
    .remodal-bg.remodal-is-closed {
    display: block;
}
    .container.table-responsive.map-desk {
    display: none;
}
     .topbar-left {
    width: 100% !important;
    float: none !important;
  }
  .topbar-left .branding-right {
    display: block !important;
  }
  .topbar-left .logo {
    width: 110px;
  }
  .top-mega-menu.open > .dropdown-menu {
    left: -160px !important;
  }
  /*.topbar-right {
    width: 100% !important;
    float: none !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    top: -100px;
    z-index: 20;
    position: fixed;
    left: 0px;
    background-color: #ffffff;
  }*/
  .topbar-right.bar-toggle {
    top: 0px !important;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
  }
  .topbar-right .left-bar-switch {
    display: block !important;
  } 
it-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
}
@media screen and (max-width: 414px) {
  .main-container {
    padding: 30px 0px 0px 0px;
  }
  
}
@media screen and (max-width: 414px) {
 .app-name {
    float: right;
    width: 92%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0;
    margin-top: -43px;
    font-size: 14px;
    padding-left: 20px;
    font-weight: 600;
    color: #009eda;
}
  .main-container {
    padding: 30px 0px 0px 0px;
  }
 .page-header.full-block {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
  .footer-container {
    margin-right: 0px;
    margin-left: 0px;
  }
  .recent-users-list .users-details ul li {
    overflow: hidden;
  }
  .recent-users-list .users-details {
    margin-left: 30px;
  }
  .regional-analytics {
    height: 200px;
  }
  .w-action {
    position: absolute;
    right: 30px;
    top: 0px;
  }
  .widget-wrap > .widget-header {
    position: relative;
  }
  .apps-dropdown.open .dropdown-menu {
    right: -65px;
  }
  .apps-dropdown .dropdown-menu:after,
  .more-dropdown .dropdown-menu:after,
  .apps-dropdown .dropdown-menu:before,
  .more-dropdown .dropdown-menu:before {
    left: 63%;
  }
  .notifications-dropdown.open .dropdown-menu {
    right: -48px;
    width: 300px;
  }
  .notifications-dropdown .dropdown-menu:after,
  .notifications-dropdown .dropdown-menu:before {
    left: 77%;
  }
}
