﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Link.aspx.cs" Inherits="SatlujWebApp.Link" %>


<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Links:</title>
    <link type="text/css" rel="stylesheet" href="css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="css/material-design-iconic-font.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="css/animate.css">
    <link type="text/css" rel="stylesheet" href="css/layout.css">
    <link type="text/css" rel="stylesheet" href="css/components.css">
    <link type="text/css" rel="stylesheet" href="css/widgets.css">
    <link type="text/css" rel="stylesheet" href="css/plugins.css">
    <link type="text/css" rel="stylesheet" href="css/pages.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap-extend.css">
    <link type="text/css" rel="stylesheet" href="css/common.css">
    <link type="text/css" rel="stylesheet" href="css/responsive.css">
</head>
<form runat="server" id="form1">
<body class="leftbar-view">
<!--Topbar Start Here-->
<header class="topbar clearfix">
    <!--Top Search Bar Start Here-->
    <div class="top-search-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="search-input-addon">
                        <span class="addon-icon"><i class="zmdi zmdi-search"></i></span>
                        <input type="text" class="form-control top-search-input" placeholder="Search">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Top Search Bar End Here-->
    <!--Topbar Left Branding With Logo Start-->
    <div class="topbar-left pull-left">
        <div class="clearfix">
            <ul class="left-branding pull-left clickablemenu ttmenu dark-style menu-color-gradient">
                <li><span class="left-toggle-switch" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><i class="fa fa-bars" aria-hidden="true"></i></span></li>
                <li>
                  <div class="logo">
                   <h3><img src="images/logo.png" ></h3>
                       <!--  <a href="index.html" title="Admin Template"><img src="images/logo.png" alt="logo"></a> -->
                    </div>
                </li>
            </ul>
            <!--Mobile Search and Rightbar Toggle-->
            <ul class="branding-right pull-right">
                <li><a href="#" class="btn-mobile-search btn-top-search" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><i class="zmdi zmdi-search"></i></a></li>
                <li><a href="#" class="btn-mobile-bar" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <!--Topbar Left Branding With Logo End-->
    <!--Topbar Right Start-->
    <h3 class="app-name">SJVN Utpadan</h3><div class="topbar-right pull-right">
        <div class="clearfix">
            <!--Mobile View Leftbar Toggle-->
            <ul class="left-bar-switch pull-left">
                <li><span class="left-toggle-switch" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><i class="fa fa-bars" aria-hidden="true"></i></span></li>
            </ul>
            <ul class="pull-right top-right-icons">
              <!--   <li><a href="#" class="btn-top-search"><i class="zmdi zmdi-search"></i></a></li> -->
                
                <li class="dropdown notifications-dropdown">
                                       <a href="#" class="btn-notification dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><%--<span class="noty-bubble"><%= lblnotificationcount.Text %></span>--%><i class="zmdi zmdi-globe"></i></a>
                    <div class="dropdown-menu notifications-tabs">
                        <div>
                            <ul class="nav material-tabs nav-tabs" role="tablist">
                               <!--  <li class="active"><a href="#message" aria-controls="message" role="tab" data-toggle="tab">Message</a></li>
                                <li><a href="#notifications" aria-controls="notifications" role="tab" data-toggle="tab">Notifications -->
                            </ul> 
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="message">
                                    <div class="message-list-container">
                                        <asp:Label ID="lblnotificationcount" runat="server" Text="" Visible="false"></asp:Label>
                                        <asp:Label ID="lblnotification" runat="server" Text="" Visible="false"></asp:Label>
                                        <%--<h4>You have <%= lblnotificationcount.Text %> notification</h4>--%>
                                         <ul class="clearfix">
                                            <li class="clearfix">
                                                <a href="#" class="message-thumb">
                                                </a><a href="#" class="message-intro"><span class="message-meta"> <asp:Label ID="notification1" runat="server" Text=""></asp:Label> </span>   <span class="message-time"></span></a>
                                            </li>
                                          <li class="clearfix">
                                                <a href="#" class="message-thumb">
                                                </a><a href="#" class="message-intro"><span class="message-meta"><asp:Label ID="notification2" runat="server" Text=""></asp:Label> </span>   <span class="message-time"></span></a>
                                            </li>
											 <li class="clearfix">
                                                <a href="#" class="message-thumb">
                                                </a><a href="#" class="message-intro"><span class="message-meta"><asp:Label ID="notification3" runat="server" Text=""></asp:Label> </span>   <span class="message-time"></span></a>
                                            </li>
                                            
                                            
                                            
                                            
                                        </ul>
                                        <%--<a class="btn btn-link btn-block btn-view-all" href="#"><span>View All</span></a>--%>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#" class="right-toggle-switch" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><i class="zmdi zmdi-format-align-left"></i><span class="more-noty"></span></a></li>
            </ul>
        </div>
    </div>
    <!--Topbar Right End-->
</header>
<!--Topbar End Here-->
<!--Leftbar Start Here-->
<aside class="leftbar" style="height: 189px;">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 250px; height: 189px;"><div class="left-aside-container" style="overflow: hidden; width: 250px; height: 189px;">
   <ul class="list-accordion tree-style">
           <% if(Session["RoleId"].ToString()!="4" && Session["RoleId"].ToString()!="3") { %>
            <li class="list-title"><a href="dashboard.aspx">DashBoard</a></li>
                <% } %>        <% else { %>
            <li class="list-title"><a href="dashboardSatluj.aspx">DashBoard</a></li>
                <% } %> 
            <li class="acc-parent-li">
                <a href="#" class="acc-parent"><i class="zmdi zmdi-view-dashboard"></i><span class="list-label">User Adminstrator</span><span class="acc-icon"></span></a>
                <ul style="display: none;"> 
                  
                     <% if(Session["RoleId"].ToString()=="1") { %>
              <li><a href="Create-super-admin.aspx">Add Adminstrator</a></li>
                    <% } %>                     <% if(Session["RoleId"].ToString()=="2") { %>
              <li><a href="CreateEmployee.aspx">Add Employee</a></li>
                    <% } %>                     <% if (Session["RoleId"].ToString() == "1")
                        { %>
                   <li><a href="ViewAdmin.aspx">View Adminstrator</a></li>
                       <% } %>                     <% if (Session["RoleId"].ToString() == "2" )
                        { %>
                   <li><a href="ViewAdmin.aspx">View Employee</a></li>
                       <% } %> 
                    <!-- <li><a href="material-style-leftbar.html">Material Styled Leftbar</a></li> -->
                    <!-- <li><a href="tile-leftbar.html">Tile Leftbar</a></li> -->
                    <!-- <li><a href="with-language-bar.html">With Language Bar</a></li> -->
                    <!-- <li><a href="top-user-thumb.html">Topbar User Thumb</a></li> -->
                    <!-- <li><a href="tabby-leftbar.html">Tabby Leftbar</a></li> -->
                    <!-- <li><a href="notification-rightbar.html">Only Notifications Rightbar</a></li> -->
                    <!-- <li><a href="without-rightbar.html">Without Rightbar</a></li> -->
                    <!-- <li><a href="activities-rightbar.html">Activities Rightbar</a></li> -->
             </ul>
            </li>
            <!-- <li class="list-title">Forms</li> -->
            <li class="acc-parent-li">
                <a href="#" class="acc-parent"><i class="zmdi zmdi-view-web"></i><span class="list-label">User Management</span><span class="acc-icon"></span></a>
                <ul style="display: none;">
                    
                     <% if(Session["RoleId"].ToString()=="1") { %>
               <li><a href="AssignRole.aspx">Assign Role </a></li>
                   <% } %>                     <% if(Session["RoleId"].ToString()=="2") { %>
               <li><a href="UserRoles.aspx">Assign Role </a></li>
                   <% } %> 
                    <!-- <li><a href="form-basic-elements.html">View Adminstrator</a></li> -->
                    <!-- <li><a href="form-material-elements.html">Material Form Elements</a></li> -->
                    <!-- <li><a href="form-icons-label.html">All Icons Labels</a></li> -->
                    <!-- <li><a href="form-clone-element.html">Clone Form ELements </a></li> -->
                    <!-- <li><a href="form-autocomplete.html">Autocomplete </a></li> -->
                    <!-- <li><a href="form-currency-format.html">Currency Format</a></li> -->
                    <!-- <li><a href="form-success-state.html">Form Success State </a></li> -->
                    <!-- <li><a href="form-error-state.html">Form Error State </a></li> -->
                    <!-- <li><a href="form-disable-state.html">Form Disable State </a></li> -->
                    <!-- <li><a href="form-grid.html">Form Grid </a></li> -->
                    <!-- <li><a href="form-tooltips.html">Form Tooltips </a></li> -->
                    <!-- <li><a href="tags-input.html">Tags Input</a></li> -->
                    <!-- <li><a href="input-mask.html">Input Mask </a></li> -->
                    <!-- <li><a href="select2.html">Select2</a></li> -->
                    <!-- <li><a href="file-styles.html">File Styles</a></li> -->
                    <!-- <li><a href="spinner.html">Spinner</a></li> -->
                    <!-- <li><a href="icheck.html">iCheck</a></li> -->
                    <!-- <li><a href="form-ui-datepicker.html">UI Datepickers</a></li> -->
                    <!-- <li><a href="form-timepicker.html">UI Timepickers</a></li> -->
                    <!-- <li><a href="form-spectrum-colorpickers.html">Spectrum Colorpickers</a></li> -->
                    <!-- <li><a href="date-pickers.html">Bootstrap Datepickers</a></li> -->
                    <!-- <li><a href="color-pickers.html">Bootstrap &amp; jqColorPickers</a></li> -->
                </ul>
            </li>
            <li class="acc-parent-li">
                <a href="#" class="acc-parent"><i class="zmdi zmdi-check"></i><span class="list-label"> Setting</span><span class="acc-icon"></span></a>
                <ul style="display: none;">
                    <li><a href="ProfileSetting.aspx">Profile </a></li>
                    <li><a href="ResetPassword.aspx">Reset Password </a></li>
                    <!-- <li><a href="form-call-me.html">Call Me Form </a></li> -->
                    <!-- <li><a href="form-call-me-captcha.html">Call Me Cptacha Form </a></li> -->
                    <!-- <li><a href="form-checkout.html">Checkout Form </a></li> -->
                    <!-- <li><a href="form-order-check-radio.html">Order Form </a></li> -->
                    <!-- <li><a href="form-order-field.html">Order Form With Quantity </a></li> -->
                </ul>
            </li>

                
                <li class="acc-parent-li">
                    <% if(Session["RoleId"].ToString()!="1" && Session["RoleId"].ToString()!="4" && Session["RoleId"].ToString()!="3") { %>
              <a href="Project.aspx" class="acc-parent"><i class="zmdi zmdi-check"></i><span class="list-label"> Project</span></a>
                    <% } %> 
               
               
            </li> 
             
     <li class="acc-parent-li">
                                    
                   <% if(Session["RoleId"].ToString()!="1"  && Session["RoleId"].ToString()!="3") { %>
                      <a href="Link.aspx" class="acc-parent"><i class="zmdi zmdi-check"></i><span class="list-label">  Link</span></a>
                    <% } %>
     
               
            </li>
    
          <li class="acc-parent-li">
              <% if(Session["RoleId"].ToString()!="1" && Session["RoleId"].ToString()!="4" && Session["RoleId"].ToString()!="3") { %>
             <a href="FeedBack.aspx" class="acc-parent"><i class="zmdi zmdi-check"></i><span class="list-label"> Feed Back</span></a>
                    <% } %>
                
               
            </li>
           <li class="acc-parent-li">
               <% if(Session["RoleId"].ToString()!="1" && Session["RoleId"].ToString()!="4" && Session["RoleId"].ToString()!="2") { %>
             <a href="Notification.aspx" class="acc-parent"><i class="zmdi zmdi-check"></i><span class="list-label"> Notification</span><span class="acc-icon"></span></a>
                    <% } %>
                
               
            </li>
            
        </ul>
    </div><div class="slimScrollBar" style="background: rgba(255, 255, 255, 0.5); width: 4px; position: absolute; top: 48px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 189px;"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; border-radius: 0px; background: rgb(34, 34, 34); opacity: 0.3; z-index: 90; right: 1px; display: none;"></div></div>
</aside>
<!--Leftbar End Here-->
<!--Page Container Start Here-->
<section class="main-container">
    <div class="container-fluid">
        <div class="page-header filled full-block light">
            <div class="row">
                <div class="col-md-12">
                     <marquee> <h2></h2>
            <p> <%= lblnotification.Text %></p></marquee>
                    <h2>Links</h2>
                    <!-- <p>All kind of form elements here </p> -->
                </div>
            
            </div>
        </div>
<div class="widget-wrap">
                    <div class="widget-header block-header margin-bottom-0 clearfix">
                  
                    </div>
                    <div class="widget-container">
                        <div class="widget-content">
                            <div class="row">
                                <div class="col-md-12">
                               

                                <div class="form-content j-forms">

                                <!-- start text password -->
                                <div class="row">
                                    <div class="col-md-6 unit">
                                        <label class="label">Link Name</label>
                                        <div class="input">
                                            <label class="icon-left" for="text">
                                                <i class="fa fa-edit"></i>
                                            </label>
                                            <input class="form-control" type="text" placeholder="Link Name" id="name" name="name" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6 unit">
                                        <label class="label">Description</label>
                                        <div class="input">
                                            <label class="icon-left" for="password">
                                                <i class="fa fa-lock"></i>
                                            </label>
                                            <input class="form-control" type="Text" placeholder="Description" id="description" name="description" required="required">
                                        </div>
                                    </div>
                                </div>
                                <!-- end text password -->

                                <!-- start email url -->
                                <div class="row">
                                    
                                    <div class="col-md-6 unit">
                                        <label class="label">Url</label>
                                        <div class="input">
                                            <label class="icon-left" for="url">
                                                <i class="fa fa-globe"></i>
                                            </label>
                                            <input class="form-control" type="url" placeholder="http://www.example.com" id="url" name="url" required="required">
                                        </div>
                                    </div>
                                </div>
                                    <div class="row">
                                    <asp:Label ID="lblmessage" runat="server" Text=""></asp:Label>
                                                                        <asp:Button ID="btnsubmit" runat="server" Text="Save" class="btn btn-info primary-btn" OnClick="btnsubmit_Click"/>
                                        </div>
                                    <br />
                                    <div class="table-responsive">
                                    <asp:GridView ID="grdlink" runat="server" AutoGenerateColumns="False" class="table table-bordered foo-data-table" AutoGenerateEditButton="True" OnRowCancelingEdit="grdlink_RowCancelingEdit" OnRowDataBound="grdlink_RowDataBound" OnRowEditing="grdlink_RowEditing" OnRowUpdating="grdlink_RowUpdating" >
        <Columns>
            <asp:TemplateField HeaderText="Id" Visible="false">
                <ItemTemplate>
                    <asp:Label ID="lblid" runat="server" Text='<%# Eval("Id") %>'></asp:Label>
                </ItemTemplate>
                <HeaderStyle Font-Bold="True" />
            </asp:TemplateField>
            <asp:TemplateField HeaderText="Name">
                <EditItemTemplate>
                    <asp:TextBox ID="txtname" runat="server" Text='<%# Eval("Name") %>'></asp:TextBox>
                </EditItemTemplate>
                <ItemTemplate>
                    <asp:Label ID="lblname" runat="server" Text='<%# Eval("Name") %>'></asp:Label>
                </ItemTemplate>
                <HeaderStyle Font-Bold="True" />
            </asp:TemplateField>
            <asp:TemplateField HeaderText="Description">
                <EditItemTemplate>
                    <asp:TextBox ID="txtdescription" runat="server" Text='<%# Eval("Description") %>'></asp:TextBox>
                </EditItemTemplate>
                <ItemTemplate>
                    <asp:Label ID="lbldescription" runat="server" Text='<%# Eval("Description") %>'></asp:Label>
                </ItemTemplate>
                <HeaderStyle Font-Bold="True" />
            </asp:TemplateField>
            <asp:TemplateField HeaderText="Url">
                <EditItemTemplate>
                    <asp:TextBox ID="txturl" runat="server" Text='<%# Eval("Url") %>'></asp:TextBox>
                </EditItemTemplate>
                <ItemTemplate>
                    <asp:Label ID="lblurl" runat="server" Text='<%# Eval("Url") %>'></asp:Label>
                </ItemTemplate>
                <HeaderStyle Font-Bold="True" />
            </asp:TemplateField>
        </Columns>
    </asp:GridView>
                                        </div>

                                <!-- end email url -->

                                <!-- start search -->
                                
                                <!-- end search -->

                                <!-- start textarea -->
                                
                                <!-- end textarea -->

                                </div>
                                     </section>
                                <!-- end /.content -->

                                <div class="form-footer">
                                    <!-- <button type="submit" class="btn btn-success primary-btn processing">Processing...</button> -->
                                    <!-- <button type="reset" class="btn btn-danger secondary-btn">Reset</button> -->
                                  
                                </div>
                                <!-- end /.footer -->

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        

    </form>

    </div>
    <!--Footer Start Here -->
    <footer class="footer-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="footer-left">
                        <%--<span>© 2015 <a href="">dummy</a></span>--%>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="footer-right">
                        <%--<span class="footer-meta">avc with&nbsp;<i class="fa fa-heart"></i>&nbsp;by&nbsp;<a href="">abcv</a></span>--%>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer End Here -->
    </section>
<!--Page Container End Here-->
<!--Rightbar Start Here-->
<aside class="rightbar " style="height: 299px;">
<div class="user-profile-container">
            <div class="user-profile clearfix">
                <div class="admin-user-thumb">
                    <img src="images/Dummy.jpg" alt="admin">
                </div>
                <div class="admin-user-info">
                     <ul>
                        <%-- <% if(Session["RoleId"].ToString()=="1") { %>
                        <li><a href="#"> Super Admin Panel</a></li>
                            <% } %>                         <% if(Session["RoleId"].ToString()=="2") { %>
                        <li><a href="#"> Admin Panel</a></li>
                            <% } %>                         <% if(Session["RoleId"].ToString()=="3") { %>
                        <li><a href="#">Employee Panel</a></li>
                            <% } %>                         <% if(Session["RoleId"].ToString()=="4") { %>
                        <li><a href="#"> User Panel</a></li>
                            <% } %>--%>
                           <%= Session["Name"].ToString()%>

                    </ul>
                </div>
            </div>
            <div class="admin-bar">
                <ul>
                    <li><a href="LogOut.aspx"><i class="zmdi zmdi-power"></i>
                    </a>
                    </li>
                  
                    
                </ul>
            </div>
        </div>
</aside>
<!--Rightbar End Here-->
<script src="js/lib/jquery.js"></script>
<script src="js/lib/jquery-migrate.js"></script>
<script src="js/lib/bootstrap.js"></script>
<script src="js/lib/jquery.ui.js"></script>
<script src="js/lib/jRespond.js"></script>
<script src="js/lib/nav.accordion.js"></script>
<script src="js/lib/hover.intent.js"></script>
<script src="js/lib/hammerjs.js"></script>
<script src="js/lib/jquery.hammer.js"></script>
<script src="js/lib/jquery.fitvids.js"></script>
<script src="js/lib/scrollup.js"></script>
<script src="js/lib/smoothscroll.js"></script>
<script src="js/lib/jquery.slimscroll.js"></script>
<script src="js/lib/jquery.syntaxhighlighter.js"></script>
<script src="js/lib/velocity.js"></script>
<script src="js/lib/smart-resize.js"></script>
<!--Forms-->
<script src="js/lib/jquery.maskedinput.js"></script>
<script src="js/lib/jquery.validate.js"></script>
<script src="js/lib/jquery.form.js"></script>
<script src="js/lib/additional-methods.js"></script>
<script src="js/lib/j-forms.js"></script>
<!--[if lt IE 10]>
<script src="js/lib/jquery.placeholder.min.js"></script>
<![endif]-->
<!--Select2-->
<script src="js/lib/select2.full.js"></script>
<script src="js/lib/jquery.loadmask.js"></script>
<script src="js/apps.js"></script>
</body>
   </form>
</html>